/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%; /* ( script: showScrollTop: classList.add('show-scroll') ) */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop_icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}